body{
	
	background-color: #f76c6c;

}

.container-header{
	display: flex;
	justify-content: center;
}

header {
	background-color: #fff;
	padding: 15px;
	align-items: center;
	box-shadow: 20px 20px 10px rgba(0,0,0,0.1);
	width: 90%;
	margin: 0px 5px;
	
}

.logo a {
	font-size: 2rem;
	color: #333;
	text-decoration: none;
}

nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	display: flex;
	list-style: none;
	
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	font-size: 1.2rem;
	color: #333;
	text-decoration: none;
}

nav ul li a:hover {
	color: #f76c6c;
}
